[Unit]
Description=Drive Processor
ConditionPathExists=/etc/rc.drives
After=local-fs.target systemd-tmpfiles-setup.service rsyslog.service

[Service]
Type=forking
ExecStart=/etc/rc.drives
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes
SysVStartPriority=99

[Install]
WantedBy=multi-user.target
