[Unit]
BindsTo=%i.device
After=%i.device

[Service]
Type=oneshot
TimeoutStartSec=0
Environment=DEVNAME=%I
ExecStart=/opt/drivebadger/internal/mobile/events/usbstorage/plug.sh
ExecStop=/opt/drivebadger/internal/mobile/events/usbstorage/unplug.sh
RemainAfterExit=yes
