[Unit]
BindsTo=%i.device
After=%i.device

[Service]
Type=oneshot
TimeoutStartSec=0
Environment=DEVNAME=%I
ExecStart=/opt/drivebadger/internal/mobile/events/ptp/plug.sh
RemainAfterExit=no
