[Unit]
Description=Drive Badger
ConditionPathExists=/etc/rc.drivebadger
After=local-fs.target systemd-tmpfiles-setup.service rsyslog.service

[Service]
Type=forking
ExecStart=/etc/rc.drivebadger
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes
SysVStartPriority=99

[Install]
WantedBy=multi-user.target
