# Rules for Mobile Badger for USB Mass Storage
KERNEL=="sd*", SUBSYSTEMS=="usb", ACTION=="add", PROGRAM="/bin/systemd-escape -p --template=storagebadger@.service $env{DEVNAME}", ENV{SYSTEMD_WANTS}+="%c"
KERNEL=="ub*", SUBSYSTEMS=="usb", ACTION=="add", PROGRAM="/bin/systemd-escape -p --template=storagebadger@.service $env{DEVNAME}", ENV{SYSTEMD_WANTS}+="%c"
